<ion-view view-title="Gallery">
  <ion-content ng-controller="GalleryCtrl">
    <div class="row">
      <div class="col col-25">
        <img ng-src="../img/fail.png" width="100%"/>
      </div>
      <div class="col col-25">
        <img ng-src="../img/fail.png" width="100%"/>
      </div>
      <div class="col col-25">
        <img ng-src="../img/fail.png" width="100%"/>
      </div>
      <div class="col col-25">
        <img ng-src="../img/fail.png" width="100%"/>
      </div>
    </div>
  </ion-content>
</ion-view>
